Source: letce2-plugin-lxc
Section: unknown
Priority: extra
Maintainer: Adjacent Link LLC <labs@adjacentlink.com>
Build-Depends: debhelper (>= 8.0.0), dh-python
Standards-Version: 3.9.3
Homepage: https://github.com/adjacentlink/letce2-plugin-lxc

Package: python-letce2-plugin-lxc
Section: python
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Replaces: emanesh
Description: Lightweight Experiment Template Configuration Environment LXC Plugin

Package: python3-letce2-plugin-lxc
Section: python
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Lightweight Experiment Template Configuration Environment LXC Plugin
